{% extends 'core/base.html' %}

{% block title %}{{ room.name }}{% endblock %}

{% block content %}
<h1>{{ room.name }}</h1>

<div>
    <h3>{{ request.user.username }}</h3>
    <p>DLJKf dlksjf sldjkf lskdjf flejf fdslkjf.</p>
</div>
<div>
    <h3>{{ request.user.username }}</h3>
    <p>DLJKf dlksjf sldjkf lskdjf flejf fdslkjf.</p>
</div>
<div>
    <h3>{{ request.user.username }}</h3>
    <p>DLJKf dlksjf sldjkf lskdjf flejf fdslkjf.</p>
</div>

<div>
    <form method="POST" action=".">
        <input type="text" name="content" placeholder="Enter your message..." id="chat-message-input"><br/>
    
        <button class="btn btn-success" id="chat-message-submit">Submit</button>    
    </form>    
</div>
{% endblock %}

{% block script %}
{{ room.slug|json_script:"json-roomname" }}
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        console.log('onmessage')
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }
</script>
{% endblock %}