{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<form method="POST" action=".">
    {% csrf_token %}

    <div>
        <p>Your username:</p>
        <input type="text" name="username" placeholder="Your username...">
    </div>
    <div>
        <p>Your password:</p>
        <input type="password" name="password1" placeholder="Your password...">
    </div>
    <div>
        <p>Repeat password:</p>
        <input type="password" name="password2" placeholder="Repeat password...">
    </div>

    {% if form.errors or form.non_field_errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error|escape }}</p>
            {% endfor %}
        {% endfor %}

        {{ form.non_field_errors }}
    {% endif %}

    <br/>
    <button class="btn btn-success">Submit</button>
</form>


{% endblock %}